@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');

  div#root {
    height: 100%;
  }

  * {
    font-family: 'Roboto', sans-serif;
  } 

  html,body {
    min-height: 100%;
    height: 100%;
    background-color: #353535;
  }

  ::placeholder {
    color: #eaeaea;
    opacity: 0.95;
  }

  textarea:focus { 
    outline: none !important;
    border-color:  #00aab386;
    box-shadow: 0 0 10px #00aab370;
  }

  input:focus { 
    outline: none !important;
  }